---
name: Artifacts

on:
  push:
    branches:
      - coq
  schedule:
    - cron: "0 0 * * *" # daily

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v3

      - name: Pip Packages
        run: pip install -U -r requirements.txt

      - name: Build
        env:
          CI_TOKEN: ${{ secrets.CI_TOKEN }}
        run: python -m ci
